<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

    <p th:text="${product.productTypeName}"></p>

    <div th:each="group : ${product.productDescription}">
        <p th:text="${group.key}"></p>
        <div th:each="pairPropertyValue : ${group.value}">
            <p th:text="${pairPropertyValue.key}"></p>
                        <select>
                            <option th:value="null" th:text="'-'">
                            <option th:each="propertyvalue : ${pairPropertyValue.value}"
                                    th:value="${propertyvalue}" th:text="${propertyvalue}">
                            </option>
                        </select>
        </div>
    </div>

</body>
</html>