<div th:fragment="radiotelephone">
RADIOTELEPHONE


    <form th:method="POST" th:action="@{/product/create/radiotelephone}" th:object="${product}">

        <input type="text" th:field ="*{modelName}" placeholder="Model" required/>

        <select th:field="*{brand}">
            <option th:each="currentbrand : ${T(org.onliner.spring.c51.enums.Brand).values()}"
                    th:value="${currentbrand}" th:text="${currentbrand.getDisplayValue()}"></option>
        </select>
        <select th:field="*{phoneCaseMaterial}">
            <option th:each="currentphonecasematerial : ${T(org.onliner.spring.c51.enums.Material).values()}"
                    th:value="${currentphonecasematerial}" th:text="${currentphonecasematerial.getDisplayValue()}"></option>
        </select>
        <select th:field="*{phoneCaseColor}">
            <option th:each="currentphonecasecolor : ${T(org.onliner.spring.c51.enums.Color).values()}"
                    th:value="${currentphonecasecolor}" th:text="${currentphonecasecolor.getDisplayValue()}"></option>
        </select>
        <select th:field="*{baseType}">
          <option th:each="currentbasetype : ${T(org.onliner.spring.c51.enums.BaseType).values()}"
                  th:value="${currentbasetype}" th:text="${currentbasetype.getDisplayValue()}"></option>
        </select>
        <select th:field="*{phoneConnection}">
          <option th:each="currentphoneconnection : ${T(org.onliner.spring.c51.enums.PhoneConnection).values()}"
                  th:value="${currentphoneconnection}" th:text="${currentphoneconnection.getDisplayValue()}"></option>
        </select>
        <select th:field="*{phoneKit}">
          <option th:each="currentphonekit : ${T(org.onliner.spring.c51.enums.PhoneKit).values()}"
                  th:value="${currentphonekit}" th:text="${currentphonekit.getDisplayValue()}"></option>
        </select>
        <select th:field="*{screen}">
          <option th:each="currentscreen : ${T(org.onliner.spring.c51.enums.Screen).values()}"
                  th:value="${currentscreen}" th:text="${currentscreen.getDisplayValue()}"></option>
        </select>

    <input type="submit" >
    </form>

</div>