<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Write Feedback</title>
</head>
<body>


<form action="#" th:action="@{/seller-feedback/save}" method="post" th:object="${sellerFeedback}">

    <label th:for="title">Title of the seller feedback:</label>
    <input type="text" id="title" th:field="*{title}"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title of the seller feedback</p>
    <br><br>

    <label th:for="description">Description of the seller feedback:</label>
    <input type="text" id="description" th:field="*{description}"/>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect description of the seller
        feedback</p>
    <br><br>

    <label th:for="grade">Grade of the seller feedback:</label>
    <input type="text" id="grade" th:field="*{grade}"/>
    <p th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}">Incorrect grade of the seller feedback:</p>
    <br><br>

    <input type="submit"/>

</form>

<hr>

<header th:insert="fragment/history.html :: history">Feedback List</header>
</body>
</html>